

.about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 1300px; */
    /* height: 30rem; */
    margin: 2rem auto 1rem auto;
}

.about-left-section{
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    text-align: center;
}

.about-right-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.about-name{
    font-family: var(--poppinsBold);
    color: var(--fontColor);
    font-size: 3rem;
}

.about-prof{
    font-family: var(--poppinsLight);
    color: var(--fontColor);
    font-size: 2rem; 
    margin-bottom: 1rem;
}

.about-description{
    font-family: var(--poppinsLight);
    color: var(--greyColor);
    font-size: 1.3rem;
}

.about-resume{
    margin-top: 1rem;
    font-weight: bold;
    border-radius: 50px;
    font-size: 1.1rem;
    font-family: var(--poppinsLight);
    color: var(--fontColor);
    padding: 0.5rem 4rem;
    outline: none;
    border: 0.1rem solid var(--purple);
    background: linear-gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%);
}

.about-prof-detail{
    color: var(--purple);
}


@media screen and (min-width: 769px) {
    
.about-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    height: 30rem;
    margin: 4rem auto 1rem auto;
}

.about-left-section{
    color: white;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.about-right-section{
    margin-left: 30rem;
    width: 50%;
    display: block;
}


.about-name{
    font-family: var(--poppinsBold);
    color: var(--fontColor);
    font-size: 3rem;
}

.about-prof{
    font-family: var(--poppinsLight);
    color: var(--fontColor);
    font-size: 2rem; 
    margin-bottom: 1rem;
}

.about-description{
    font-family: var(--poppinsLight);
    color: var(--greyColor);
    font-size: 1.3rem;
}

.about-resume{
    margin-top: 1rem;
    font-weight: bold;
    border-radius: 50px;
    font-size: 1.1rem;
    font-family: var(--poppinsLight);
    color: var(--fontColor);
    padding: 0.5rem 4rem;
    outline: none;
    border: 0.1rem solid var(--purple);
    background: linear-gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%);
}

.about-prof-detail{
    color: var(--purple);
}
}