[data-theme = "light"] {
  --bgColor:white;
  --fontColor:black;
  --greyColor: #adadad;
}

[data-theme = "dark"] {
  --bgColor: #191924;
  --fontColor:white;
  --greyColor: #adadad;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--bgColor);
}

